<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CircleDock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <CircleDock.Properties.Settings>
            <setting name="WindowConfig" serializeAs="String">
                <value>Resources/Config/Window.cfg</value>
            </setting>
            <setting name="DockConfig" serializeAs="String">
                <value>Resources/Config/Dock.cfg</value>
            </setting>
            <setting name="RingConfig" serializeAs="String">
                <value>Resources/Config/Ring.cfg</value>
            </setting>
            <setting name="ButtonConfig" serializeAs="String">
                <value>Resources/Config/Button.cfg</value>
            </setting>
            <setting name="ShortcutConfig" serializeAs="String">
                <value>Resources/Config/Shortcut.cfg</value>
            </setting>
            <setting name="WindowConfigDefault" serializeAs="String">
                <value>DefaultConfig/Window.cfg</value>
            </setting>
            <setting name="DockConfigDefault" serializeAs="String">
                <value>DefaultConfig/Dock.cfg</value>
            </setting>
            <setting name="RingConfigDefault" serializeAs="String">
                <value>DefaultConfig/Ring.cfg</value>
            </setting>
            <setting name="ButtonConfigDefault" serializeAs="String">
                <value>DefaultConfig/Button.cfg</value>
            </setting>
            <setting name="ShortcutConfigDefault" serializeAs="String">
                <value>DefaultConfig/Shortcut.cfg</value>
            </setting>
        </CircleDock.Properties.Settings>
    </applicationSettings>
</configuration>
